@charset "utf-8";
@import "fonts.scss";
@import "mybulma.scss";


header {


  .banner {
    display: block;
    font-family: "iA Writer Mono";

    & .line {
      display: block;
      line-height: 120%;
    }
  }
}

ol.navigation {
  list-style: none;

  li {
    display: inline-block;

    &::after {
      content: ' ::';
    }

    &:nth-last-child(1):after {
      content: '';
    }
  }
}

a {
  text-decoration: underline;
}

footer {
  font-size: 60%;
}