@charset "utf-8";
@import "fonts.scss";
@import "mybulma.scss";


header {
  .banner {
    display: block;
    font-family: "iA Writer Mono";

    & .line {
      display: block;
      line-height: 120%;
    }

    & span.author-line-inline {
      @include until-widescreen {
        display: none;
      }
    }

    & span.author-line-below {
      padding-top: 1rem;
      display: inline-block;

      @include widescreen-only {
        display: none;
      }
    }

  }
}

ol.navigation {
  list-style: none;

  li {
    display: inline-block;

    &::after {
      content: ' ::';
    }

    &:nth-last-child(1):after {
      content: '';
    }
  }
}

a {
  text-decoration: underline;
}

footer {
  font-size: 60%;
}

.articles-home {
  hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-style: double;
    border-radius: 0.2rem;
    border-width: 2px;
    border-color: darkgray;
    max-width: 5%;
    margin-left: auto;
    margin-right: auto;
  }
}

.content article h6 {
  font-size: small;
  font-weight: normal;
}

.footnotes {
  display: block;
  font-size: smaller;
  margin-top: 3rem;
}