<div class="container">
<span class="banner">
    <span class="line">&nbsp_&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_&nbsp;_</span>
    <span class="line">|&nbsp;|__&nbsp;|&nbsp;|_&nbsp;&nbsp;&nbsp;_&nbsp;&nbsp;___&nbsp;&nbsp;___|&nbsp;|&nbsp;|&nbsp;__</span>
    <span class="line">|&nbsp;'_&nbsp;\|&nbsp;|&nbsp;|&nbsp;|&nbsp;|/&nbsp;_&nbsp;\/&nbsp;_&nbsp;\&nbsp;|&nbsp;|/&nbsp;/</span>
    <span class="line">|&nbsp;|_)&nbsp;|&nbsp;|&nbsp;|_|&nbsp;|&nbsp;&nbsp;__/&nbsp;&nbsp;__/&nbsp;|&nbsp;&nbsp;&nbsp;&lt;</span>
    <span class="line">|_.__/|_|\__,_|\___|\___|_|_|\_\</span>
</span>
</div>