<footer class="footer mt-4">
    <div class="container px-5">
        <p>
            All content created by Sebastian Schuth and licensed under the <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
            All source code is licensed <a rel="license" href="http://opensource.org/licenses/mit-license.php">MIT</a>.
        </p>
        <p>
            This site does not track you.
        </p>
    </div>
</footer>
