<header>
    <div class="container px-5 mb-6">
        <span class="banner">
            <span class="line line-1">&nbsp_&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_&nbsp;_</span> 
            <span class="line line-2 ">|&nbsp;|__&nbsp;|&nbsp;|_&nbsp;&nbsp;&nbsp;_&nbsp;&nbsp;___&nbsp;&nbsp;___|&nbsp;|&nbsp;|&nbsp;__</span>
            <span class="line line-3 ">|&nbsp;'_&nbsp;\|&nbsp;|&nbsp;|&nbsp;|&nbsp;|/&nbsp;_&nbsp;\/&nbsp;_&nbsp;\&nbsp;|&nbsp;|/&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="author-line-inline">Writing</span></span>
            <span class="line line-4 ">|&nbsp;|_)&nbsp;|&nbsp;|&nbsp;|_|&nbsp;|&nbsp;&nbsp;__/&nbsp;&nbsp;__/&nbsp;|&nbsp;&nbsp;&nbsp;&lt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="author-line-inline">by Sebastian Schuth</span></span>
            <span class="line line-6">|_.__/|_|\__,_|\___|\___|_|_|\_\</span>
            <span class="author-line-below">Writing by Sebastian Schuth<span>
        </span>
    </div>
</header>
