<div class="container px-5">
    <ol role="navigation" class="navigation">
        <li><%= link_to 'Home', '/index.html' %></li>
        <li><%= link_to 'About', '/about.html' %></li>
    </ol>
</div>
